* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table, td, th {
    border-collapse: collapse;
    border: 1px solid rgb(161, 161, 161);
    margin: 0px;
}
.input-button {
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid green;
    transition-duration: 0.2s;
}
.input-button:hover {
    background-color: green;
    color: white;
}
th {
    background-color: wheat;
    padding: 5px;
}
td {
    text-align: right;
    padding: 5px;
}
.input-text {
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid rgb(161, 161, 161);
    width: 200px;
    transition-duration: 0.2s;
}
.input-text:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);   
}