* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-transition: 0.2s;
    -webkit-transition-delay: 0.1s;
}

*:hover {
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
}

::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 148, 148);
}

.text-shadow {
    text-shadow: 0 0 1px rgb(255, 23, 23), 0 0 5px rgb(139, 23, 23);
}

.box-shadow {
    box-shadow: 0 0 1rem rgb(19, 19, 19);
}

.img-profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
}

.img-profile:hover {
    filter: brightness(130%);
    transform: scale(1.05, 1.05);
}

.btn-menu {
    display: inline;
    border: 0;
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .1rem;
}

.btn-menu:hover {
    box-shadow: 0 0 5px rgb(255, 23, 23);
}

.btn-menu:focus,
.btn-menu:active {
    outline: none !important;
}

.input-btn {
    border-radius: 0.1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(139, 23, 23);
    padding: 0.1rem 0.5rem;
    border: 2px solid rgb(139, 23, 23);
    cursor: pointer;
}

.input-btn:hover {
    background-color: rgb(255, 23, 23);
    border: 2px solid rgb(255, 23, 23);
    color: rgb(255, 255, 255);
}

.input-text {
    border-radius: 0.1rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid rgb(201, 201, 201);
    font-size: 14px;
    width: 100%;
    height: 30px;
}

.input-text:hover {
    box-shadow: 0 0 5px rgb(255, 23, 23);
}

/*radio*/
.rdb {
    display: block;
    position: relative;
}

.rdb-check {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(201, 201, 201);
    border-radius: 100%;
}

.rdb:hover input~.rdb-check {
    background-color: rgb(255, 23, 23);
}

.rdb input:checked~.rdb-check {
    background-color: rgb(255, 23, 23);
}

.rdb-check:after {
    content: "";
    position: absolute;
    display: none;
}

.rdb input:checked~.rdb-check:after {
    display: block;
}

.rdb .rdb-check:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
}

/*hide default rdb*/
.rdb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/*font awesome in input-text*/
.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 0.1rem 0.5rem;
    pointer-events: none;
}

.inner-addon-tall input {
    padding: 0.5rem 2rem;
}

.inner-addon-tall .fa {
    padding: 0.5rem;
}

.dropdown {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sosmed {
    background-color: rgb(201, 201, 201);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 13px;
}

.sosmed:hover {
    background-color: rgb(255, 23, 23);
    color: rgb(255, 255, 255);
}

.black {
    background-color: rgb(19, 19, 19);
}

.black-soft {
    background-color: rgb(28, 28, 28);
}

.red {
    background-color: rgb(255, 23, 23);
}

.fg-white {
    color: rgb(255, 255, 255);
}

.fg-red {
    color: rgb(255, 23, 23);
}

.w100 {
    width: 100px;
}

.p5rem {
    padding: 5rem;
}

.fo-ul {
    color: rgb(255, 255, 255);
    list-style-type: none;
    text-align: left;
}

ul.navbar-nav a:hover {
    color: rgb(255, 23, 23) !important;
}

ul.navbar-nav .active a:hover {
    color: rgb(255, 255, 255) !important;
}

ul.fo-ul a {
    color: rgb(148, 148, 148);
}

ul.fo-ul a:hover {
    color: rgb(255, 23, 23);
    text-decoration: none;
}

/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-shadow: 1px 1px 2px rgb(19, 19, 19), 0 0 25px rgb(23, 23, 255), 0 0 5px rgb(23, 23, 139);
}

.carousel-indicators li {
    background-color: rgb(255, 23, 23);
}

.navbar:hover {
    background-color: rgb(19, 19, 19);
    box-shadow: 0 0 1rem rgb(19, 19, 19);
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}


@media (max-width: 480px) {
    .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .mx-1 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .carousel {
        margin-bottom: 0;
    }

    .carousel-fit {
        height: 20rem;
    }
}

@media (min-width: 320px) {
    .carousel-caption h1 {
        font-size: 16px;
        font-weight: bold;
    }

    .carousel-caption p {
        margin-bottom: 18rem;
        font-size: 13px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev,
    .carousel-control-next {
        bottom: 30%;
    }
}

@media (min-width: 480px) {

    .carousel-caption h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .carousel-caption p {
        margin-bottom: 11rem;
        font-size: 17px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev,
    .carousel-control-next {
        bottom: 25%;
    }
}

@media (min-width: 720px) {
    .dropdown:hover .dropdown-content {
        display: block;
        transform: translateY(-1rem);
    }

    .carousel-caption h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .carousel-caption p {
        margin-bottom: 3rem;
        font-size: 15px;
    }

    .carousel-indicators {
        display: flex;
        bottom: 5%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .btn-menu {
        display: none;
    }
}

@media (min-width: 960px) {
    .bright:hover {
        filter: brightness(130%);
        transform: scale(1.1, 1.1);
    }
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */


@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}